<section class="grid" *ngIf="products?.length; else loadingTpl">
  <mat-card *ngFor="let product of products" class="product-card" appearance="outlined">
    <div class="image-container">
      <a href="/product/{{ product._id }}">
        <img
          mat-card-lg-image
          [src]="
            product.imageURL
              ? 'uploads' + product.imageURL
              : 'uploads/uploads/assets/placeholder.png'
          "
          [alt]="product.name"
        />
      </a>
    </div>
    <mat-card-content class="product-card-content">
      <h3 class="title">{{ product.name }}</h3>
      <p class="description">{{ product.description }}</p>
    </mat-card-content>
    <mat-card-footer class="product-card-bottom">
      <span class="price">${{ product.price }}</span>
      <mat-card-actions>
        <button matButton (click)="wishlist.toggle(product._id)" color="primary">
          <mat-icon>
            {{ wishlist.has(product._id) ? 'favorite' : 'favorite_border' }}
          </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</section>

<ng-template #loadingTpl>
  <div class="grid">
    <div class="skeleton" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"></div>
  </div>
</ng-template>
